/* Estilos para el pie de página (footer) */
.footer {
  background-color: #0f1113;
  padding: 80px 70px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.footer__logo {
  width: 80px;
  height: 80px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    gap: 48px;
  }
}

.footer__link {
  display: flex;
  justify-content: center;
  color: #eee;
  font-size: 18px;
  text-decoration: none;
}

.footer__link--home::before,
.footer__link--services::before,
.footer__link--contact::before {
  margin-right: 10px;
  background-image: url("home.png");
  content: " ";
  display: block;
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.footer__link--services::before {
  background-image: url("user.png");
}

.footer__link--contact::before {
  background-image: url("phone.png");
}

.footer__network-links {
  display: flex;
  gap: 24px;
}

.footer__network-link {
  width: 48px;
  height: 48px;
  background-color: #192130;
  border-radius: 50px;
  padding: 12px;
}
