* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  color: #eee;
}

/*Block Hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13171c;
  padding: 70px 70px 164px;
  gap: 50px;
}

@media (min-width: 768px) {
  .hero {
    padding: 170px 70px 300px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.hero__title {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  color: #eee;
  margin: 0;
  text-align: center;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 96px;
    text-align: start;
  }
}

.hero__title--light-blue {
  color: #3f59ea;
}

.hero__img {
  width: 219px;
  height: 211px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero__img {
    width: 353px;
    height: 340px;
  }
}

/* Estilos para la sección de servicios */
.services {
  background-image: url("doodle-items.png");
  background-color: #13171c;
  padding: 85px 25px 125px;
}

@media (min-width: 768px) {
  .services {
    padding: 130px 90px 172px;
  }
}

.services__title {
  font-size: 42px;
  margin: 0;
  text-align: center;
  margin-bottom: 66px;
}

@media (min-width: 768px) {
  .services__title {
    font-size: 64px;
  }
}

.services__content {
  display: grid;
  gap: 48px;
}

@media (min-width: 768px) {
  .services__content {
    display: flex;
    justify-content: center;
  }
}
